<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ｍooba!</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/zh-tw.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href='/static/css/index.css?{% now "U" %}'>
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/">Mooba!</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="">關於</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        募資類別
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                            {% if user.is_authenticated %}
                            <div class="dropdown d-flex">
                                <button class="btn btn-primary dropdown-toggle my-account-dropdown" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <!-- {{ user.get_username }} -->
                                    我的帳戶
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><button class="dropdown-item" id="connect-metamask-btn">連結Metamask</button></li>
                                    <li><a class="dropdown-item" href="/web/member-info">會員資料</a></li>
                                    <li><a class="dropdown-item" href="/web/buy-token">購買平台幣</a></li>
                                    <li><a class="dropdown-item" href="/web/choose-plan-to-create">我要提案</a></li>
                                    <li><a class="dropdown-item" href="/web/record">歷史紀錄</a></li>
                                    <li><a class="dropdown-item" href="/user/logout/?next=/" id="logout-btn">登出</a></li>
                                </ul>
                            </div>
                            {% else %}
                            <ul class="navbar-nav d-flex mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/user/register">註冊</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/user/login">登入</a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% block main %}
    {% endblock %}
    <input type="hidden" id="wallet_address" value="">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1"> Mooba! 2021 © Elsie Hsieh</p>
            <p class="mb-0"> All suggestions are welcome! Send me an<a href="/"> E-mail</a>. </p>
        </div>
    </footer>
</body>

</html>